---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [267]:
import pandas as pd
import numpy as np
import datetime
import re

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(20)

0          03/25/93 Total time of visit (in minutes):\n
1                        6/18/85 Primary Care Doctor:\n
2     sshe plans to move as of 7/8/71 In-Home Servic...
3                 7 on 9/27/75 Audit C Score Current:\n
4     2/6/96 sleep studyPain Treatment Pain Level (N...
5                     .Per 7/06/79 Movement D/O note:\n
6     4, 5/18/78 Patient's thoughts about current su...
7     10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                          3/7/86 SOS-10 Total Score:\n
9              (4/10/71)Score-1Audit C Score Current:\n
10    (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...
11                        4/09/75 SOS-10 Total Score:\n
12    8/01/98 Communication with referring physician...
13    1/26/72 Communication with referring physician...
14    5/24/1990 CPT Code: 90792: With medical servic...
15    1/25/2011 CPT Code: 90792: With medical servic...
16          4/12/82 Total time of visit (in minutes):\n
17         1; 10/13/1976 Audit C Score, Highest/Date:\n
18                  4, 4/24/98 Relevant Drug History:\n
19    ) 59 yo unemployed w referred by Urgent Care f...
dtype: object

In [299]:
def date_sorter():
    
    pd.set_option('display.max_rows', 1000)
    
    # extract date information
    # normalize columns to month, day, year cols=['0', '1', '2']
    # merge data
    # convert date to datetime
    # sort
    # return as series
    
    cols=['Month', 'Day', 'Year']
    month_dict = dict({'Jan':1, 'January':1, 'Feb':2, 'February':2, 'Mar':3, 'March':3,
                      'Apr':4, 'April':4, 'May':5, 'Jun':6, 'June':6, 'Jul':7, 'July':7,
                      'Aug':8, 'August':8, 'Sep':9, 'September':9, 'Oct':10, 'October':10,
                      'Nov':11, 'November':11, 'Dec':12, 'December':12,
                       'Janaury':1, 'Decemeber':12})

    
    
    # Step_1
    # 04/20/2009; 04/20/09; 4/20/09; 4/3/09
    # need to fis year 19xx or 20xx. if two digits,  convert months to text
    # make sure not to getxx/yy/zzz
    date1a = df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{2})\b')
    date1b = df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{4})\b')
    date1a.columns = cols
    date1b.columns = cols
    # prepend years with 19
    date1a['Year'] = '19' + date1a['Year'].astype(str)
    #print(date1)
    
    
    # Step_2
    # Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
    # need to remove some extraneous . Take first 3 letters of month
    date2 = df.str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[-. ]( *)(\d{1,2})[-, ] *(\d{4})\b')
    del date2[1]
    date2.columns = cols
    #print(date2)
    
    
    # Step_3
    # 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
    # need to swap month and day
    date3 = df.str.extractall(r'(\d{1,2}) ((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[-., ] *(\d{4})\b')
    c = date3.columns
    date3 = date3[c[np.r_[1, 0, 2:len(c)]]]
    date3.columns = cols
    #print(date3)
    
    
    # Step_4a
    # Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
    # there aren't any of these in the dataset
    #date4.columns = cols
    #print(date4)
    
    
    # Step_4b
    # merge first four unique cases
    dates = pd.concat([date1a, date1b, date2, date3], ignore_index=False)
    #print(dates)
    
    
    # Step_5
    # Feb 2009; Sep 2009; Oct 2010
    # need to add day = 1, might need to exclude '20 Mar 2009'
    # problem with 228
    date5 = df.str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[-., ] *(\d{4})')
    date5[2] = '1'
    c = date5.columns
    date5 = date5[c[np.r_[0, 2, 1]]]
    date5.columns = cols
    #print(date5)
    # merge with dates
    dates = pd.merge(dates, date5, left_index = True, right_index = True, how = 'outer')
    dates1 = dates.loc[:228]
    del dates1['Month_y']
    del dates1['Day_y']
    del dates1['Year_y']
    dates1.columns = cols
    dates2 = dates.loc[229:]
    del dates2['Month_x']
    del dates2['Day_x']
    del dates2['Year_x']
    dates2.columns = cols
    dates = pd.concat([dates1, dates2], ignore_index=False)
    #print(date)
    
    
    # Step_6
    # 6/2008; 12/2009
    # need to add day (1), might need to exclude 4/3/09
    # PROBLEM
    date6 = df.str.extractall(r'(\d{1,2})/(\d{4})')
    date6['Day'] = '1'
    c = date6.columns
    date6 = date6[c[np.r_[0, 2, 1]]]
    date6.columns = cols
    #print(date6)
    # merge with dates
    dates = pd.merge(dates, date6, left_index = True, right_index = True, how = 'outer')
    dates1 = dates.loc[:341]
    del dates1['Month_y']
    del dates1['Day_y']
    del dates1['Year_y']
    dates1.columns = cols
    dates2 = dates.loc[342:]
    del dates2['Month_x']
    del dates2['Day_x']
    del dates2['Year_x']
    dates2.columns = cols
    dates = pd.concat([dates1, dates2], ignore_index=False)
    #print(dates)
    
    
    # Step 7
    # 2009; 2010
    # need to add 1/1
    date7a = df.str.extractall(r'(19\d{2})')
    date7b = df.str.extractall(r'(20\d{2})')
    date7 = pd.concat([date7a, date7b], ignore_index=False)
    date7[1] = '1'
    date7[2] = '1'
    c = date7.columns
    date7 = date7[c[np.r_[2, 1, 0]]]
    date7.columns = cols
    #print(date7)
    
    # merge with dates
    dates = pd.merge(dates, date7, left_index = True, right_index = True, how = 'outer')
    #print(dates)
    dates.Month_x.fillna(dates.Month_y, inplace=True)
    dates.Day_x.fillna(dates.Day_y, inplace=True)
    dates.Year_x.fillna(dates.Year_y, inplace=True)
    del dates['Month_y']
    del dates['Day_y']
    del dates['Year_y']
    dates.columns = cols       
    #print(dates)
    
    
    # Step 8 Create Datetime
    # convert months to numbers
    dates['Month'].replace(month_dict, inplace=True)
    # add column for DateTime, convert columns to ints
    dates['DateTime'] = dates[['Year', 'Month', 'Day']].astype(int).apply(lambda s : datetime.datetime(*s),axis = 1)
    dates.sort_values(['DateTime'], ascending=[True], inplace=True)
    #print(dates)
    # get the index
    output = pd.Series(dates.index.get_level_values(0))
    #print(output)

    return output

date_sorter()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
30     162
31     154
32     402
33      95
34      73
35     108
36     156
37     332
38     182
39      82
40     351
41     278
42     214
43     155
44     223
45     473
46      49
47     317
48      11
49     319
50      40
51     418
52     165
53     370
54     382
55       3
56      50
57     363
58     219
59     465
60     342
61     237
62      23
63     204
64     258
65     315
66      27
67      93
68      17
69     488
70     303
71     283
72     395
73     309
74     419
75     123
76      19
77     117
78     232
79      72
80     189
81     369
82     493
83     318
84     239
85     148
86     105
87     336
88       6
89     200
90      81
91      65
92     434
93     164
94     378
95     313
96     495
97     424
98     398
99       5
100    254
101    296
102     75
103    167
104     21
105    259
106    499
107    347
108    150
109     78
110    340
111    441
112    361
113    267
114    221
115    466
116     39
117    134
118    197
119    355
120    430
121     80
122    444
123    246
124     85
125    215
126    263
127     74
128    403
129    458
130     16
131     25
132    127
133    454
134     70
135     44
136     59
137    103
138    112
139    429
140     88
141    179
142    470
143    358
144    205
145    397
146    294
147    137
148    295
149     35
150    438
151    247
152    209
153     61
154    107
155    285
156    175
157     99
158    455
159     24
160    275
161    421
162     48
163    426
164    489
165    228
166    136
167     30
168    274
169     10
170    178
171      1
172    447
173    280
174    185
175    135
176     69
177    492
178    199
179    352
180      8
181    276
182    230
183    334
184     96
185     38
186    368
187    404
188    261
189    168
190     29
191    437
192    423
193     54
194    284
195    485
196     68
197     32
198    349
199     41
200     63
201    416
202     55
203    130
204    116
205     76
206    462
207    330
208     37
209    390
210    256
211    216
212    174
213    180
214    476
215    312
216    265
217    115
218     71
219    218
220    202
221    440
222    385
223    373
224    210
225     89
226    149
227     26
228      7
229    435
230    482
231    177
232    157
233    412
234     22
235    194
236     14
237    151
238    233
239    206
240    245
241    122
242     94
243    461
244    226
245     97
246     91
247     51
248     33
249    453
250     67
251     46
252    322
253     66
254    399
255    487
256    138
257     62
258    211
259     52
260    269
261    119
262    100
263    442
264    310
265    143
266    301
267    113
268    478
269    298
270    272
271    354
272      0
273    249
274    192
275     86
276    172
277    357
278    331
279    477
280    450
281    300
282    163
283    308
284    196
285     47
286    133
287    359
288     64
289     42
290    409
291    406
292    483
293    238
294    193
295    311
296    140
297    388
298     56
299    236
300    372
301    110
302    248
303     60
304    181
305    203
306    326
307     90
308    169
309    292
310    479
311    142
312      4
313    124
314    324
315    121
316    131
317    166
318    468
319    365
320    213
321     87
322    353
323    101
324    333
325    114
326    459
327     45
328    338
329     18
330    222
331    343
332     20
333    224
334     12
335     79
336    387
337    251
338    120
339    471
340     77
341    376
342    432
343    327
344    384
345    321
346    212
347    407
348    266
349    145
350    201
351    456
352    305
353    260
354    420
355    329
356    392
357    417
358    190
359    158
360    443
361     83
362    374
363    457
364    125
365    328
366    159
367    195
368    147
369    377
370    367
371    394
372    494
373    304
374    446
375     43
376    262
377    128
378    102
379    449
380    184
381    469
382    452
383    234
384    362
385    356
386    144
387    291
388    484
389    188
390    414
391     92
392    350
393    241
394    306
395    425
396    281
397    207
398    126
399    302
400    146
401    451
402    498
403    339
404    250
405    344
406    346
407    348
408    496
409    106
410    118
411    270
412    433
413    307
414    173
415    314
416    410
417    490
418    252
419    391
420    277
421    325
422    264
423    289
424    160
425    341
426    132
427    428
428    337
429    445
430    497
431    187
432    183
433    396
434    271
435    293
436    400
437    360
438    297
439    491
440    371
441    389
442    386
443    288
444    379
445    268
446    472
447    273
448    287
449    448
450    176
451    411
452    408
453    364
454    242
455     58
456    467
457    170
458     15
459    240
460    316
461    229
462    217
463    109
464    227
465    290
466    460
467    393
468    282
469     34
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
dtype: int64